<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manoj Kumar - Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/indexStyles.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="#main-container">Manoj.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#mySkills"> Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contactForm" id="contact-btn">Contact</a>
              </li>
          </ul>
        </div>
    </nav>
         <div class="container" id="main-container">
            <div class="myPhoto">
             <img src="Images/MyPhoto.jpg" class="mee" id="myself">
            </div>

            <div class="contents">
             <h3>Hi, I'm Manoj Kumar</h3>
             <h4>Software Developer</h4>
                <p>Experienced software developer with 1 year of professional experience in HTML5, CSS, JavaScript, C#, MsSqlServer,
                 Bootstrap, and Java. Proven track record in developing web applications, including personal projects, using a range of
                 technologies that are mentioned below. Seeking a Software Developer position to apply expertise in creating innovative solutions.
                </p>
               <div class="btn-box">
                <a href="#contactForm" id="openForm">Let's Talk</a>
               </div>    
              <div class="home-sci">
                <a href="https://www.linkedin.com/in/manoj-kumar-1787031b5/"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/Manojkumar144"><i class='bx bxl-github' ></i></a>
              </div>      
            </div>   
         </div>    
        
         <div id="mySkills" class="skills">
          <h1> Skills</h1>
          <img src="Images/Html2.png" class="skillsIcon" id="htmlIcon">
          <img src="Images/cssImage.png" class="skillsIcon" id="cssIcon">
          <img src="Images/Javascript.png" class="skillsIcon" id="javascriptIcon">
          <img src="Images/javaImage.png" class="skillsIcon" id="javaIcon">
          <img src="Images/nodejs.png" class="skillsIcon" id="nodeJsIcon">
          <img src="Images/expressJsImage.png" class="skillsIcon" id="expressJsIcon">
          <img src="Images/sqlImage.png" class="skillsIcon" id="sqlIcon">
          <img src="Images/MySQL.png" class="skillsIcon" id="mySqlIcon">
          <img src="Images/sequelizeImage.png" class="skillsIcon" id="sequelizeIcon">
          <img src="Images/githubImage.png" class="skillsIcon" id="githubIcon">
          <img src="Images/awsImage.png" class="skillsIcon" id="awsIcon">
          <img src="Images/vsCodeImage.png" class="skillsIcon" id="vsCodeIcon">

         </div>

         <!-- projects -->
            <div class="project-form">
             <h2>Projects</h2>
             <div class="project1">
             <h4>BudgetBuddy</h4>
               <h6>Tools/Technologies Used:</h6>
               <p>HTML, CSS, Javascript, Bootstrap, NodeJs, ExpressJs, MySql, Sql, Sequelize, AWS, Jenkins, Nginx, Visual Studio Code, Razorpay, SendInBlue</p>
               <h6>About project:</h6>
               <p>The application serves as an expense tracking solution, enabling users to effortlessly monitor and retrieve their expenditure data as needed. Additionally, it is seamlessly integrated with AWS for reliable and efficient deployment</p>
             </div>
               <div class="project1">
                 <h4>Meeting Scheduler</h4>
                  <h6>Tools/Technologies Used:</h6>
                  <p>HTML, CSS, Javascript, NodeJs, ExpressJs, MySql, Sql, Sequelize,Visual Studio Code, Ejs(Template Engine)</p>
                  <h6>About project:</h6>
                  <p>The Meeting Scheduler Application simplifies the process of booking meetings by allowing users to reserve available time slots. When a user cancels a meeting, the corresponding slot becomes available for others to utilize. This dynamic system generates slots based on availability retrieved from the database in real-time</p>
               </div>
               <div class="project1">
                 <h4>CircProProfileHub</h4>
                  <h6>Tools/Technologies Used:</h6>
                  <p>HTML, CSS, Javascript,NodeJs, ExpressJs, MySql, Sql, Sequelize,Visual Studio Code</p>
                  <h6>About project:</h6>
                  <p>CricProfileHub is an administrative application designed to manage player profiles.Also It facilitates the updating of player information</p>
               </div>
            </div>
            <div class="portfolio-container" id="portfolio">
            <h2>Portfolio</h2> 
        <div class="work-experience-container">
          <div class="work-experience">
              <div class="line"></div>
              <div class="work-experience-content">
                  <h2>Full Stack Web Development Course</h2>
                  <p><strong>Sharpener</strong> <span class="year">April 2023 - Present, Remote</span></p>
                  <p>
                      Skills: HTML5 · SQL · Bootstrap (Framework) · Express.js · Node.js ·
                      Java · Cascading Style Sheets (CSS) · JavaScript · MySql · Sequelize
                  </p>
                  <ul>
                      <li>
                          Learning full stack web development and developed a full-scale web application using HTML5, CSS, Bootstrap,
                          JavaScript, Node.js, Express.js, ejs, SQL, MySql, and Sequelize.
                      </li>
                  </ul>
              </div>
          </div>
          <div class="work-experience">
              <div class="line"></div>
              <div class="work-experience-content">
                  <h2>Software Engineer</h2>
                  <p>
                      <strong>Jothi Software Private Ltd </strong> <span class="year">January 2023 - February
                    2023</span>
                  </p>
                  <p>Skills:C# · SqlServer · Xunit</p>
                  <ul>
                      <li>
                          Utilized C#, SqlServer, and Xunit to add new features to a web-based
                          Ecommerce application.
                      </li>
                  </ul>
              </div>
          </div>
          <div class="work-experience">
              <div class="line"></div>
              <div class="work-experience-content">
                  <h2>Operation Executive</h2>
                <p><strong>Infosys Limited</strong> <span class="year"> July 2021 - October 2022</span></p>
                  <p>
                      Skills: Xunit · Git · Azure devops(Git) · Language Integrated Query
                      (LINQ) · Test Driven Development · .Net · C# · Microsoft SQL Server ·
                      HTML · Cascading Style Sheets (CSS) · JavaScript ·Windows Forms ·
                      MsSqlServer · Resharper · Automapper · Postman.
                  </p>
                  <ul>
                      <li>
                          Employed a range of software engineering tools and techniques to
                          create and manage software applications
                      </li>
                  </ul>
              </div>
          </div>
        <div class="line1">
        </div>
      </div>     
              
        <!-- contact form -->
      <div class="wrapper" id="contactForm">
        <form action="/sendEmail" method="POST">
           <h1 >let's talk</h1>
           <div class="input-box">          
            <input type="text" class="input" id="name"  name="name" placeholder="Enter your Name" required>
          </div>
              <div class="input-box">          
               <input type="email" class="input" id="email"  name="email" placeholder="Enter your Email" required>
             </div>
             <div class="input-box"> 
              <textarea name="message" placeholder="Enter Your Message" required></textarea>
             </div>
             <button type="submit" class="btn" >Send</button>
        </form>
        <button id="closeForm">Close</button>
      </div>
        <div class="end">
           &copy; 2024 Manoj Kumar. All rights reserved.
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@sendinblue/client@6"></script>
    <script src="js/script.js"></script> 
</body>
</html>
